# Editors
.vscode/
.idea/

# Mac/OSX
.DS_Store

# Windows
Thumbs.db

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

#packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
# workspace for testing
workspace_fun/*

workspace/catkin_ws/src/code_bot/secrets/*
# exept api_key_template.json
!workspace/catkin_ws/src/code_bot/secrets/api_key_template.json